*,
root,
html {
    padding: 5px;
    box-sizing: border-box;
}

body {
    background: #fff;
}

.btn_support {
    float: right;
    width: 153px;
    height: 56px;

    background: #527ef7;
    border-radius: 68px;
    text-align: center;
    color: #fff;
    outline: none;
    border: 0;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    position: absolute;
    bottom: 30px;
    right: 10px;
    cursor: pointer;
}

.btn_support:hover{
    opacity: 0.9;
}

.chat {
    display: none;
    font-family: "Roboto", sans-serif;
}

.in_support_header {
    float: right;
    width: 320px;
    height: 56px;

    background: #527ef7;
    border-radius: 16px 16px 0px 0px;

    display: flex;
    justify-content: space-between;
}

.in_support_header span {
    color: #fff;
    display: flex;

}

.icon_close {
    align-items: center;
    display: flex;
    cursor: pointer;
}

.size_icon {
    height: 100%;
}

.chat_support {
    position: absolute;
    max-width: 330px;
    right: 10px;
    animation: up 1s;
}

.chat_support_hide {
    animation: down 1s;
    animation-fill-mode: forwards;
}

@keyframes up {
    from {
        transform: translateY(60vh);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes down {
    from {
        transform: translateY(0);        
    }
    to {
        transform: translateY(100vh);
    }
}

.client {
    display: flex;
    flex-direction: column;
}

.client .message {
    background: #f2ecf2;
    /* background: #cecad4 */
    padding: 20px 10px;
    margin: 10px, 0;
    width: 250px;
    margin-left: 30px;
    border-radius: 4px;
    line-height: 20px;
}

.text_support {
    border: 1px solid #cec9c9;
    max-height: 500px;
    overflow-y: scroll;
}

.admin{
    display: flex;
    flex-direction: column;
}

.admin .message {
    width: 230px;
    background: #f2ecf2;
    border-radius: 4px;
    padding: 10px;
    margin-left: 12px;
}

.message_send {
    background: #7b7878;
}

.line {
    border: 1px solid #e9e9e9;
    padding: 0;
    margin: 0;
}

.text_help {
    padding-top: 8px;
}

.text_help textarea {
    width: 290px;
    height: 115px;

    padding: 10px;

    background: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 4px;

    resize: none;
}

.first_email {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
}

.first_email input {
    background-color: #fff;
}

.btn_start_chat {
    background: #527ef7;
    color: #fff;
    border-radius: 5px;
}

.btn_start_chat:hover {
    opacity: 0.8;
}

.btn_cancel {
    border: 0;
    cursor: pointer;
    margin-right: 10px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#txt_help:focus {
    outline: 1px solid #a8a8a8;
}

.charac_remaining {
    font-size: 10px;
    float: right;
}
